body {
    margin: 0;
    padding: 0;
    background-color: #456;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 300px ;
    height: 300px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);

}