body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  background-color: #456;
}

h1 {
  font-size: 200px;
  text-align: center;
  text-transform: uppercase;
  background: url(/home/acun/Desktop/image.jpg);
  -webkit-background-clip: text;
  color: transparent;
  animation: textzort 20s linear infinite;
}

@keyframes textzort {
  from {
    background-position: 0 0;
  }
  from {
    background-position: 100% 100%;
  }
}
